[submodule "deps/lz4"]
	path = deps/lz4
	url = https://github.com/lz4/lz4
[submodule "deps/microtar"]
	path = deps/microtar
	url = https://github.com/rxi/microtar
[submodule "deps/known-folders"]
	path = deps/known-folders
	url = https://github.com/ziglibs/known-folders
[submodule "deps/zip"]
	path = deps/zip
	url = https://github.com/kuba--/zip
[submodule "deps/zig-clap"]
	path = deps/zig-clap
	url = https://github.com/Hejsil/zig-clap
[submodule "deps/bOptimizer"]
	path = deps/bOptimizer
	url = https://github.com/theseyan/bOptimizer
[submodule "deps/zelda"]
	path = deps/zelda
	url = https://github.com/haze/zelda
